<section class = "instructions">
<div id = "back"><%= link_to 'Back', :back %></div>
<div id = "title"><h3><%= @title %></h3></div>
<div  id = "confirmer",  class="round"><%= link_to 'Confirm', @order, :method => :update %></div>
</section>