<section class = "instructions">
	<% if current_page?(edit_order_path(@order)) %>
		<div id = "back"><%= link_to 'Back', :back %></div>
	<% end %>
	<div id = "title"><h3><%= @title %></h3></div>
	<% if current_page?(send_path) %>
		<div id = "pickup_instructions"><p><%= order_pickup_instructions %></p></div>
	<% end %>
	<% unless current_page?(send_path) %>
		<%= link_to 'Confirm', send_path, :class => "round", :id => "confirmer_final" %>
	<% end %>
</section>