<header class = "order_header"><%= render 'instructions_final' %></header>
	<div class = "delete_order_holder"><%= link_to 'Cancel Order', @order, :method => :delete,
			:confirm => "Your order will be deleted",
								   :class => "delete_order" %></div>
<section id= "order_review"><%= render 'order/types_summary' %>
</section>