<header class = "order_header"><%= render 'instructions_final' %></header>
<div class = "order_subheader">
	<div class = "delete_order_holder"><%= link_to 'Cancel Order', @order, :method => :delete,
			:confirm => "Your order will be deleted",
								   :class => "delete_order" %></div></div>
<div class =  "total_order_price">TOTAL PRICE: <%= number_to_currency(@order.total) unless @order.total.blank? %></div>
<section id= "order_review"><%= render 'order/types_summary' %>
</section>