<th class = "chef_special_header <%=combo_status(type) %>"><h4><%= type.typeName %></h4>
	<div>
	<div class = "combo_price"><%= number_to_currency(type.price) %></div>
<%= button_to 'Cancel combo', 
	cancel_chef_special_path(:order => @order, :combo_id => type), 
	:disabled => button_disabled(type),	:class => 'chef_special_combo_cancel',
	:id => combo_status(type), :remote => true %></div></th>