<% if  type.typeID == CHEF_SPECIAL%>
	<table><tr id = "chef_special_header"><%= render 'chef_special_header', :type => type %></tr></table>
<% end %>
<% type.groups.reject{|thisGroup| thisGroup.groupID == 31}.each do |group| %>
	<table class = "menu_table">
	<tr class = "group_row", id = "group_<%= group.groupID %>"><%= render 'group', :group => group %></th>
		<%= render 'items', :group => group %></tr>
	</table>
<% end %>	