	<div id = "title"><h3><%= @title %></h3></div>
	<div class = "total_order_price round"><%= render 'pages/price' %></div></td>
	<td><%= link_to 'Cart', edit_order_path(@order), :class => "round", :id => "confirmer" %>
