<section class = "menu_name">
	<p>Sushi</p>
</section>
<section class = "instructions">
	<div id = "title"><h3><%= @title %></h3></div>
	<div id = "confirmer", class="round"><%= link_to 'Cart', edit_order_path(@order), :class => "round" %></div>
	
</section>
