<ul class = 'type_tab'>
<%Type.find_each do |type| %>
<% name = type.typeName %>
<li class = "type_row", id = "<%= type.typeID %>">
	<%= link_to type.typeName, menu_path(:type => type, :order => @order), :class => 'type_link', :remote =>true %></li>
<% end %>
</ul>