<header class="menu_header">
<section class = "menu_name">
	<p><%= @message %></p>
</section>
<section class = "instructions">
	<%= render 'instructions' %>
	</section>
</header>

	<section id = "menu_core">
		<section id="type_section"><%= render 'types' %></section>
		<section class="menu_section"><%= render 'pages/groups', :type => Type.first %></section>
	</section>

	<div id = "slideout"></div>
	



