/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body{
 	margin: 0;
 	padding:0;
 }

 header.greeting{
 	width: auto;
 	min-width: 800px;
 	margin-right: 0;
 	overflow: auto;
 	height: 70px;
 	border-bottom: 2px solid;
 	background-color: #2F4F4F;
 }

 .menu_core{
 	margin-left: 40px;
 }

div.welcome{
	text-align: left;
	float:left;
	color: white;
	margin-left: 1em;
}

div#logout{
	text-align: right;
	float:right;
	margin-top: 1.5em;
	margin-right: 2em;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

div#logout a{
text-decoration: none;
}

div#logout a:hover{
	color: red;
}

.round{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}