// Place all the styles related to the OrderDetail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_details{
	position: fixed;
	top: 200px;
	right: -350px;
	width: 400px;
	height: 400px;
	margin: 0;
	padding: 0;
	background-color: white;
	border: 3px #8C1515;
	border-style: solid none solid solid;

	#detail_core{
		padding: 10px;
	}

	#save_order_detail{
		position: relative;
	}

	#delete_detail{
		position: relative;
		

	}

	h3{
		color: #4D4F53;
	}
}

#order_detail_outline{
	padding: 10px;


}

.detail_name{
	color: #820000;
	height: auto;
	margin: 0px;
}

.detail_description{
	font-style: italic;
	height: 10px;
	margin-top: 0px;
	margin-bottom: 15px;	
}
.detail_item_price{
	margin-top: 30px;
}

.detail_total_price{
	font-weight: bold;
	color: #00505C;
}

.carte_name_header{
	height: auto;
	margin-bottom: 1px;
}

.combo_price{
	font-weight: bold;
}

.order_detail_input{
	margin-bottom: 15px;
}

#order_review{
	position: relative;
	padding-left: 15px;
	padding-right: 5px;
	width: 550px;
	background-color: white;
	border: 3px solid black;
	border-style: solid solid solid none;

	td{
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 0px;
		height: auto;
	}

	.order_type_outline{
		margin-top: -2px;
			padding-top: 5px;
			border: 2px solid black;
			border-style: solid none none none;

		
	}
}

.order_group_outline{
	border: 1px solid grey;
	border-style: solid none none none;

	
	#order_review_form{
		padding-bottom: 0px;
		
	}

}

.combo_cancel_summary{
	position: relative;
	display: inline-block;
	left: 250px;
}

.chef_special_combo_cancel_summary{
	position: relative;
	display: inline-block;
	left: 250px;

}

