// Place all the styles related to the OrderDetail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_details{
	position: fixed;
	top: 200px;
	right: -350px;
	width: 400px;
	height: 400px;
	margin: 0;
	padding: 0;
	background-color: white;
	border: 3px #8C1515;
	border-style: solid none solid solid;

	#detail_core{
		padding: 10px;
	}

	#save_order_detail{
		left: 10px;
	}

	#delete_detail{
		position: relative;
		left:70px;
		top: -25px;

	}

	h3{
		color: #4D4F53;
	}
}

#order_detail_outline{
	padding: 10px;

	#save_order_final{
		left: 10px;
	}

	#delete_detail_final{
		position: relative;
		left:70px;
		top: -25px;

	}

}

.detail_name{
	color: #820000;
	height: auto;
	margin: 0px;
}

.detail_description{
	font-style: italic;
	height: 10px;
	margin-top: 0px;
	margin-bottom: 15px;	
}
.detail_item_price{
	margin-top: 30px;
}

.carte_name_header{
	height: auto;
	margin-bottom: 1px;
}

.combo_price{
	font-weight: bold;
}

.order_detail_input{
	margin-bottom: 15px;
}