<div class = "welcome">
	<h2>Arbuckle 2Go</h2>
</div>
	<% flash.each do |key, value| %>
	<div class = "flash" id = "<%= key %>"><%= value %></div>
	<% end %>
	<% if signed_in %>
<div id="logout" class="round">
	<%= link_to 'Log out',  logout_path, :class => "round" %>
	</div>
	<% end %>
</div>